/* ABOUT US ========*/
.about_us {
	display: flex;
	margin-bottom: 18.8rem;
}

.about_img {
	flex: 2;
}

.about_info {
	flex: 3;
	padding-right: 19.4rem;
}

.about_info > h2 {
	text-align: start;
	margin-bottom: 2.3rem;
}

.about_info > p {
	font-size: 2rem;
	margin-bottom: 8rem;
	line-height: 3rem;
}

.info {
	display: flex;
	justify-content: space-between;
}

.info_child {
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media screen and (max-width: 992px) {
	.about_us {
		margin-bottom: 12rem;
	}

	.about_info {
		padding-right: 5rem;
	}
}

@media screen and (max-width: 768px) {
	.about_us {
		margin-bottom: 5.6rem;
	}
}