footer {
	padding: 5.5rem 0;
	border-top: 1px var(--public-p-color);
	display: flex;
	font-size: 2.4rem;
	line-height: 3.6rem;
}

.footer_right {
	flex: 0 0 auto;
}

.footer_logo {
	flex: 1;
	justify-content: flex-start;
}

@media screen and (max-width: 992px) {
	footer {
		padding: 2.2rem 0;
		font-size: 1.6rem;
		line-height: 2.4rem;
	}
}

@media screen and (max-width: 768px) {
	footer {
		padding: 1.8rem 0;
		font-size: 1.3rem;
		line-height: 2rem;
	}

}